@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.shape {
  position: absolute;
  border-radius: 50%;
  opacity: 0.6;
  animation: float 10s infinite ease-in-out;
}

.shape-1 {
  width: 60px;
  height: 60px;
  background: rgba(59, 130, 246, 0.5); /* blue-500 */
  top: 20%;
  left: 10%;
  animation-duration: 8s;
}

.shape-2 {
  width: 80px;
  height: 80px;
  background: rgba(37, 99, 235, 0.5); /* blue-600 */
  top: 40%;
  left: 70%;
  animation-duration: 10s;
}

.shape-3 {
  width: 50px;
  height: 50px;
  background: rgba(29, 78, 216, 0.5); /* blue-700 */
  top: 60%;
  left: 30%;
  animation-duration: 12s;
}

.shape-4 {
  width: 70px;
  height: 70px;
  background: rgba(30, 64, 175, 0.5); /* blue-800 */
  top: 80%;
  left: 50%;
  animation-duration: 14s;
}

.shape-5 {
  width: 90px;
  height: 90px;
  background: rgba(30, 58, 138, 0.5); /* blue-900 */
  top: 10%;
  left: 80%;
  animation-duration: 16s;
}

.shapes-1 {
  width: 60px;
  height: 60px;
  background: rgba(34, 197, 94, 0.5); /* green-500 */
  top: 20%;
  left: 10%;
  animation-duration: 8s;
}

.shapes-2 {
  width: 80px;
  height: 80px;
  background: rgba(22, 163, 74, 0.5); /* green-600 */
  top: 40%;
  left: 70%;
  animation-duration: 10s;
}

.shapes-3 {
  width: 50px;
  height: 50px;
  background: rgba(21, 128, 61, 0.5); /* green-700 */
  top: 60%;
  left: 30%;
  animation-duration: 12s;
}

.shapes-4 {
  width: 70px;
  height: 70px;
  background: rgba(22, 101, 52, 0.5); /* green-800 */
  top: 80%;
  left: 50%;
  animation-duration: 14s;
}

.shapes-5 {
  width: 90px;
  height: 90px;
  background: rgba(20, 83, 45, 0.5); /* green-900 */
  top: 10%;
  left: 80%;
  animation-duration: 16s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}